extends Base

block content 
    .row
        .col-sm-8
            #Aero.card(class="shadow-lg p-3 mb-5  rounded")
                .card-title: h2 LOS MEJORES AEROPUERTOS PARA TU ATENCION Y SERVICIO
                hr
                .card-body
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure nihil quia dignissimos ratione dolor hic nemo, ad dolorum. Itaque illo at dolores magnam tempore tenetur provident quaerat laboriosam. Deserunt, molestias?
    br
    br
    br
    hr
    .row
        .col-md-8
            .card(class="shadow-lg p-3 mb-5  rounded", style="position:relative; left:50%;")
                .card-title 
                h3 PARIS
                .card-body
                    h3 Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius quas sed id ratione qui perferendis odit quaerat quod repellendus enim alias, ipsam obcaecati excepturi quam dolorum ea minus distinctio nemo!
    .row
        .col-md-8
            .card(class="shadow-lg p-3 mb-5  rounded")
                .card-title 
                h3 MIAMI
                .card-body
                    h3 Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius quas sed id ratione qui perferendis odit quaerat quod repellendus enim alias, ipsam obcaecati excepturi quam dolorum ea minus distinctio nemo!
    .row
        .col-md-8
            .card(class="shadow-lg p-3 mb-5  rounded", style="position:relative; left:50%;")
                .card-title 
                h3 LONDRES
                .card-body
                    h3 Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius quas sed id ratione qui perferendis odit quaerat quod repellendus enim alias, ipsam obcaecati excepturi quam dolorum ea minus distinctio nemo!
    .row
        .col-md-8
            .card(class="shadow-lg p-3 mb-5  rounded")
                .card-title 
                h3 CARACAS
                .card-body
                    h3 Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius quas sed id ratione qui perferendis odit quaerat quod repellendus enim alias, ipsam obcaecati excepturi quam dolorum ea minus distinctio nemo!

