extends Base
include mixins/svgSeparator
include mixins/_footer


block content 
    section(class="section section-lg section-hero section-shaped")
        div(class="shape shape-style-1 shape-default")
        div(class="container shape-container d-flex align-items-center py-lg")
            div(class="col px-0")
                div(class="row align-items-center justify-content-center")
                    div(class="col-lg-6 text-center")
                        h5#textIndex AQUI PODRA ENCONTRAR LOS AEROPUERTOS DISPONIBLES
        +Svg()
    section(class="section section-lg section-hero section-shaped")
        div(class="container shape-container d-flex align-items-center py-lg")
            div(class="col px-0")
                div(class="row align-items-center justify-content-center")
                    div(class="col-lg-5 mb-5 mb-lg-0")
                        div(class="col-lg-6 text-center")
                            h5 Aeropuertos con los cuales se estan trabajando en el momento
                    div(class="col-lg-5 mb-5 mb-lg-0")
                        div(class="rounded shadow-lg overflow-hidden transform-perspective-right")
                            // Ingresar codigo de carosuel para los aeropuertos.
    section(class="section section-lg section-hero section-shaped")
        div(class="shape shape-style-1 shape-default")
        div(class="container shape-container d-flex align-items-center py-lg")
            div(class="col px-0")
                div(class="row align-items-center justify-content-center")
                    h5 Se mostraran las estadisticas de los aeropuertos, donde se mostrara, cant de pasajeros, vuelos abordados y ganancias y esas cosas
    section(class="section section-lg section-hero section-shaped")
        div(class="container shape-container d-flex align-items-center py-lg")
            div(class="col px-0")
                div(class="row align-items-center justify-content-center")
                    h4 mostrar estadisticas de los aeropuertos , como por ejemplo las tablas con ChartJS
        

