<!DOCTYPE html>
html(lang="en")
  head
    // preload
    link(rel="preload", href="/dist/main.css", as="style")
    link(rel="preload", href="/vendor/jquery/jquery.min.js", as="script")
    link(rel="preload", href="/vendor/popper/popper.min.js", as="script")
    link(rel="preload", href="/vendor/bootstrap/bootstrap.min.js", as="script")
    link(rel="preload", href="/dist/main.bundle.js", as="script")
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Vuelos Guacamaya
    link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet")
    link(rel="stylesheet", href="/vendor/nucleo/css/nucleo.css", async)
    link(rel="stylesheet", href="/dist/main.css")
    link(rel="stylesheet", href="/sass/styles.scss")
    link(href="/assets/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet")
    link(type="text/css" href="/assets/css/argon.min.css" rel="stylesheet")

  body
    header
    include mixins/_navbar
    +navbar(h.menu)
    block content
    // Content
    include mixins/_footer
    +footer(h.links)
    block scripts
      script(src="/vendor/jquery/jquery.min.js",defer)
      script(src="/vendor/popper/popper.min.js",defer)
      script(src="/vendor/bootstrap/bootstrap.min.js",defer)
      script(src="/dist/main.bundle.js",defer)
      script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js", defer)
      script(src="/js/argon.min.js",defer)
      script(src="/vendor/bootstrap-datepicker/js/bootstrap-datepicker.min.js", defer)