extends Base 

block content
    section(class="section section-lg section-hero section-shaped")
        div(class="shape shape-style-1 shape-default")
        div(class="container shape-container d-flex align-items-center py-lg")
            div(class="col px-0")
                div(class="row align-items-center justify-content-center")
                    div(class="col-lg-6 text-center")
                        h3(style="color:white;") Aqui podran encontrar los aviones disponibles para alquilar
        div(class="separator separator-bottom separator-skew zindex-100")
            svg(  x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg")
                polygon(class="fill-white", points="2560 0 2560 100 0 100")
    sectionn(class="section section-lg section-hero section-shaped")
        .row
            -let avion=[1,2,3,4,5,6,7,8,9,10]
              each val in avion
                .col-sm-4
                    include mixins/_cardAvion
                    +CardAvion()
                    br
                    br
