mixin CardAvion()
    .card.card-lift--hover.shadow.border-0
        .card-head.pt-3
            h3(style="color:black; text-align:center;") Aviones Charter
        .card-body.px-lg-5.py-lg-5
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium, debitis?
            hr
            .row.align-items-center.justify-content-center
                .col-sm-3
                    .btn.btn-info.btn-lg Alquilar

