mixin navbar(links)
  nav(class="navbar navbar-expand-lg", style="background-color:#805dfd;")
    .container
      a#optionNavbar(href='/', class="navbar-brand") VuelosGuacamaya
      button(class="navbar-toggler",type="button", data-toggle="collapse", data-target="#navbarNav", aria-controls="navbarNav", aria-expanded="false", aria-label="Toggle navigation")
        span(class="navbar-toggler-icon" style="color: white;")
        span(class="navbar-toggler-icon" style="color: white;")
      div(class="collapse navbar-collapse",id="navbarNav")
        ul(class="navbar-nav")
          each link in links
            li(class="nav-item")
              a#optionNavbar(class="nav-link", href=`${link.path}`) #{link.text}