extends Base

block content
    section.section.section-lg.login
        div(class="shape shape-style-1 bg-gradient-default")
          span
          span
          span
          span
          span
          span
        .container.pt-lg-md
          .row.justify-content-center
            .col-sm-6
                .card(style="background-color:#fafafa;")
                    .card-title
                        h4#titleCard Error Not Found
                    hr
                    .card-body
                        img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ2cn_NcimHvRSJeoQQG8yTalDbySjMeRLp61psqpXb1CALbcyj", alt="ErrorImage", style="left:23%;position:relative;")
                        hr
                        h4 Los datos ingresados son incorrectos por favor ingresarlos nuevamente.
                    .card-footer
                        a#titleCard(href="/Register") Intentar de Nuevo.