extends Base

block content
    section.section.section-lg.login
        div(class="shape shape-style-1 bg-gradient-default")
          span
          span
          span
          span
          span
          span
        .container.pt-lg-md
          .row.justify-content-center
            .col-sm-6
                .card(style="background-color:#fafafa;")
                    .card-title
                        h4#titleCard Error Not Found
                    hr
                    .card-body
                        img(src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/160/lg/57/cross-mark_274c.png", alt="ErrorLogin", style="position:relative;left:33%;")
                        hr
                        h5(style="color:black;text-align:center;") El correo o la contrasena ingreseda no son correctos por favor intentalo de nuevo
                    .card-footer
                        a#titleCard(href="/") Intentar de Nuevo